.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.homa-page-hero {
}
.hero-home {
}
.hero-home-container {
}
.hero-home-button {
  position: relative;
  font-size: 16px;
  padding: 20px;
  background-color: teal;
  border-radius: 20px;
  /* animation-name: changeBackgroundColor;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.1, 0.25, 0.1, 1);
  animation-delay: 1000ms;
  animation-iteration-count: 0.5;
  animation-direction: reverse;
  animation-fill-mode: both;
  animation-play-state: paused; */
  animation:changeBackgroundColor 1s cubic-bezier(0.1,0.25,0.1,1) 0ms  infinite alternate ;
}

.hero-home-button:hover {
  /* animation:changeBackgroundColor 1s cubic-bezier(0.1,0.25,0.1,1) 0.2s infinite alternate ; */
  /* animation-name: changeBackgroundColor;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.1, 0.25, 0.1, 1);
  animation-delay: 1000ms;
  animation-iteration-count: 0.5;
  animation-direction: reverse;
  animation-fill-mode: backwards; */
  animation-play-state: paused;
  animation:changeBackgroundColor 1s cubic-bezier(0.1,0.25,0.1,1) 0ms infinite reverse both paused  ;
}
@keyframes changeBackgroundColor {
  0% {
    /* bottom: 0;
    left: 0; */
    transform: translate(0, 0) scale(1);
    background-color: red;
    border-radius: 20px;
  }

  50% {
    /* bottom: -50px;
    left: -50px; */
    transform: translate(50px,50px) scale(0.5) skew(30deg) ;
    background-color: green;
    opacity: 0.75;
    border-radius: 5px;
  }

  100% {
    /* bottom: -100px;
    left: -100px; */
    transform: translate(100%,100%) scale(1.3) rotate(200deg);
    opacity: 0.5;
    background-color: blue;
    border-radius: 40px;
  }
}
